.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100vw;
  overflow-x: hidden;
  padding: 2% 0;

  @include mixins.mobile {
    padding: 5% 0;
  }

  &Wrap {
    display: flex;
    width: 100%;
    gap: 20px;

    @include mixins.mobile {
      flex-direction: column;
    }

    &Left {
      display: flex;
      flex-direction: column;
      width: 40%;
      gap: 10px;
      align-items: center;
      justify-content: center;

      @include mixins.mobile {
        width: 100%;
      }

      &Buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 100%;
        height: 120px;
        border-radius: 10px;
        box-shadow: colors.$box-shadow;

        background-color: var(--cards-color);

        @include mixins.mobile {
          width: 100%;
          gap: 10px;
        }

        &History {
          font-size: 18px;
          font-weight: 600;
          border-radius: 10px;
          border: 1px solid var(--border);
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 10px;
          cursor: pointer;
          transition: 0.2s ease;
          width: 100px;
          height: 100px;

          @include mixins.mobile {
            width: 95px;
            height: 95px;
            font-size: 16px;
          }

          &:hover {
            background-color: var(--background-color);
          }

          &Image {
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }
}
