.container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid var(--border);

  &Info {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 5px;

    &Title {
      font-size: 20px;
      font-weight: 600;
    }

    &Text {
      font-size: 18px;
      font-weight: 400;
    }
  }

  &Button {
    border-radius: 5px;
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;
    border: 1px solid var(--border);
    cursor: pointer;

    &:hover {
      background-color: #d2d0d0;
    }
  }
}
