.theme-root {
  --background-color: #e1ddf0;
  --cards-color: #ffffff;
  --attention: #5954ac;
  --border: #e1ddf0;
  --text: #000000;
  --sub-text: #4c4c4c;
  --picked: #e1ddf0;
  --error: #e53935;
}
