.container {
  width: 100%;
  max-height: 520px;
  min-height: 150px;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
  box-shadow: colors.$box-shadow;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cards-color);

  &Grid {
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    border: 1px solid var(--border);
    place-content: center;
    gap: 8px;
    padding: 5%;
    border-radius: 12px;
    background-color: #f6f5fa;
    width: 100%;
  }

  &Button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
