.container {
  width: 80%;
  height: 100%;
  box-shadow: colors.$box-shadow;
  border-radius: 10px;
  display: flex;
  overflow-y: scroll;
  align-items: start;
  gap: 20px;
  justify-content: start;
  padding: 30px 40px;
  flex-direction: column;
  background-color: var(--cards-color);

  @include mixins.mobile {
    width: 100%;
    height: auto;
  }

  &Title {
    font-size: 28px;
    font-weight: 600;
    width: 100%;
    text-align: left;
  }

  &Input {
    width: 50%;
    height: 50px;
    border-radius: 5px;
    font-weight: 600;
    border: 2px solid var(--border);
    padding: 10px;
    font-size: 20px;

    @include mixins.mobile {
      width: 100%;
    }
  }

  &Cards {
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    justify-content: start;
  }
}
