.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  flex-direction: column;

  &Body {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 550px;
    align-items: center;
    justify-content: center;
    gap: 20px;

    @include mixins.mobile {
      height: auto;
      flex-direction: column;
    }

      &Create {
        border: none;
        cursor: pointer;
        border-radius: 10px;
        padding: 10px 16px;
        font-weight: 600;
        font-size: 14px;
        background: var(--primary-color);
        color: white;
        transition: 0.2s ease;

        &:hover {
          opacity: 0.9;
        }
      }
  }
}
